.page.theme_dark {
	--background-color: url(--color-dark-blue, #000028);
	--background-image: url('../images/cover-image-dark.png');
	--title-color: var(--color-pink-second, #db00ff);
	--header-text-color: var(--color-dark-blue, #000028);
	--decorated-color: var(--color-pink-first, #ff0070);
	--decorated-color-40: var(--color-pink-third-40, #ff007040);
	--section-title-color: var(--color-pink-first, #ff0070);
	--article-title-color: var(--color-dark-blue, #000028);
	--accent-color: var(--color-pink-first, #ff0070);
	--text-color: var(--color-pink-fourth, #f1b2ce);
}

.page.theme_dark .recording {
	display: block;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background-color: url(--color-dark-blue, #000028);
		--background-image: url('../images/cover-image-dark.png');
		--title-color: var(--color-pink-second, #db00ff);
		--header-text-color: var(--color-dark-blue, #000028);
		--decorated-color: var(--color-pink-first, #ff0070);
		--decorated-color-40: var(--color-pink-third-40, #ff007040);
		--section-title-color: var(--color-pink-first, #ff0070);
		--article-title-color: var(--color-dark-blue, #000028);
		--accent-color: var(--color-pink-first, #ff0070);
		--text-color: var(--color-pink-fourth, #f1b2ce);
	}

	.recording {
		display: block;
	}
}
